.crossborder__arrow {
  margin-top: 2.5rem;
}

/*.form-input {*/
/*  padding: 1.125rem 1rem;*/
/*}*/

.form-label {
  font-size: 1rem;
  line-height: 1.125;
}

.bank-card__type img {
  opacity: 0.2;
  width: 50px;
  height: 30px;
}

.bank-card {
  padding: 1.5rem 2rem 2.875rem 2rem;
  height: 17.25rem;
}

.bank-card .select2-container--default .select2-selection--single {
  font-size: 1rem;
  border: none;
  padding: 0;
}

.bank-card .select2-container.select2-container--default .select2-selection__arrow b {
  left: 36px;
}

.bank-card .select2-container.select2-container--default.select2-container--open .select2-selection {
  box-shadow: none;
}

.bank-card .select2-container.select2-container--default.select2-container--open .select2-dropdown--below {
   border-top: none;
}

.bank-card__bank {
  align-items: center;
}

.bank-card__bank .form-group {
  margin-bottom: 0;
}

.transfer-card {
  position: relative;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #F0F5FA;
}

.transfer-card p {
  margin-bottom: 0;
}

.transfer-card input {
  font-weight: bold;
}

.transfer-card-button {
  position: absolute;
  left: 230px;
  bottom: 19px;
  width: 16px;
  height: 16px;
  background-color: #F0F5FA;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.69727 0.317383C6.21391 0.317383 4.76386 0.754216 3.53049 1.57264C2.29712 2.39107 1.33583 3.55433 0.768172 4.91532C0.200515 6.27631 0.0519903 7.77391 0.341379 9.21873C0.630769 10.6636 1.34507 11.9907 2.39397 13.0324C3.44286 14.074 4.77923 14.7834 6.23409 15.0708C7.68895 15.3582 9.19695 15.2107 10.5674 14.6469C11.9378 14.0832 13.1092 13.1285 13.9333 11.9037C14.7574 10.6788 15.1973 9.23877 15.1973 7.76565C15.1973 6.78753 15.0033 5.81898 14.6264 4.91532C14.2495 4.01165 13.697 3.19056 13.0006 2.49893C12.3041 1.80729 11.4773 1.25866 10.5674 0.884348C9.65745 0.510038 8.68218 0.317383 7.69727 0.317383ZM8.44727 12.9794H6.94727V11.4898H8.44727V12.9794ZM9.99977 7.20703L9.32477 7.89227C9.02269 8.15097 8.78593 8.47644 8.63353 8.84253C8.48113 9.20862 8.41733 9.6051 8.44727 10.0001H6.94727V9.62771C6.94869 8.83772 7.26404 8.08021 7.82477 7.51985L8.75477 6.58137C8.89577 6.44481 9.00762 6.28143 9.08365 6.10099C9.15967 5.92056 9.19832 5.72676 9.19727 5.53117C9.19727 5.13609 9.03923 4.75719 8.75793 4.47782C8.47662 4.19846 8.09509 4.04151 7.69727 4.04151C7.29944 4.04151 6.91791 4.19846 6.63661 4.47782C6.3553 4.75719 6.19727 5.13609 6.19727 5.53117H4.69727C4.69727 4.74101 5.01334 3.98321 5.57595 3.42448C6.13856 2.86575 6.90162 2.55186 7.69727 2.55186C8.49292 2.55186 9.25598 2.86575 9.81859 3.42448C10.3812 3.98321 10.6973 4.74101 10.6973 5.53117C10.6977 6.15952 10.4468 6.76232 9.99977 7.20703Z' fill='%234F6E7A'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  cursor: pointer;
}

.crossborder__border {
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #DEE7F3;
}

.crossborder__limits-card {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 3px 10px 0 rgba(23, 42, 58, 0.10);
  background-color: #ffffff;
}

.crossborder__limits-card p {
  margin-bottom: 0;
}

.crossborder__limits-card img {
  margin-right: 0.5rem;
}

.crossborder__cards {
  position: relative;
  padding-left: 2.5rem;
}

.crossborder__cards::before {
  position: absolute;
  content: "";
  transform: rotate(90deg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  left: 0.25rem;
  background-image: url("../img/menu-catalogue.png");
  background-size: 169px;
  background-position: -122px -49px;
}

.crossborder__questions-card {
  border-bottom: 2px solid #DEE7F3;
}

.crossborder__questions-header {
  position: relative;
  padding-right: 1.5rem;
}

.crossborder__questions-header button {
  text-align: left;
}

.crossborder__questions-header button::after {
  position: absolute;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  right: 0;
  top: 1.5rem;
  background: url("data:image/svg+xml,%3Csvg width= '25' height= '25' viewBox= '0 0 25 25' fill= 'none' xmlns= 'http://www.w3.org/2000/svg' %3E%3Cpath d= 'M6.6665 9.71704L12.5001 15.5507' stroke= '%23172A3A' stroke-width= '2' stroke-miterlimit= '10' stroke-linecap= 'round' stroke-linejoin= 'round' /%3E%3Cpath d= 'M12.5 15.5507L18.3336 9.71705' stroke= '%23172A3A' stroke-width= '2' stroke-miterlimit= '10' stroke-linecap= 'round' stroke-linejoin= 'round' /%3E%3C/svg%3E") center no-repeat;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.crossborder__questions-header button[aria-expanded=true]::after {
  transform: rotate(180deg);
}

.accordion .btn {
  padding: 1.5rem 0;
}

.btn:focus {
  box-shadow: none;
}

.lorem-text p {
  margin-bottom: 0rem;
}

.lorem-text ul {
  margin-top: 0.5rem;
}

.list--circle.small--circle li::before {
  top: 8px;
  width: 4px;
  height: 4px;
}

.list--minus.small--minus li::before {
  top: 8px;
  width: 6px;
  height: 1px;
}

.list li {
  margin-bottom: 0.5rem;
}

.list.small--circle li, .list.small--minus li {
  padding-left: 0.75rem;
}

@media screen and (max-width: 575px) {
  .bank-card__body {
    padding-top: 2rem;
  }

  .bank-card {
    padding: 1rem 1.5rem 2.875rem 1.5rem;
  }
}

@media screen and (max-width: 991px) {
  .crossborder__card-wrapper {
    width: auto;
    max-width: 26.25rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 991px) {
  .p2p-crossborder {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .bank-card {
    max-width: 100%;
  }

  .crossborder__questions h2 {
    text-align: center;
  }

  .crossborder__left-limits {
    padding-right: 2.5rem;
  }

  .crossborder__right-limits {
    padding-left: 2.5rem;
  }

  .crossborder__right-limits::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: #DEE7F3;
  }
}